<!-- <div class="about">
  <h1 style="font-size: 4rem; color: #ffffff">
    {{ 'navigation.about_us' | transloco }}
  </h1>
</div> -->
<!-- <div class="transition-item">
  <div class="image-item">
    <img
      src="../../../assets/image/About-Us-4-1600x800.jpeg"
      style="height: 90vh"
    />
  </div>
  <div class="category-caption">
    <h1 style="font-size: 4rem; color: #ffffff">
      {{ 'navigation.about_us' | transloco }}
    </h1>
  </div>
</div> -->

<div class="description">
  <div class="about-content">
    <div class="logo">
      <img src="../../../../assets/image/logo.jpeg" />
    </div>
    <div class="paragraph">
      <p>
        كتبيديا موقع إلكتروني يهتم بنشر الكتاب الرقمي تم تصميمه ليلبي احتياجات نشر
         الكتاب بكافة أشكاله الإلكترونية والورقية والصوتية، ويقدم أكثر من فكرة تدعم خيارات وطموحات المؤلف لإيصال إبداعه 
        إلى أكبر شريحة من المتلقين، كما يتيح موقع كتبيديا للناشرين عرض إنتاجهم ومتابعته بشكل مباشر دون اللرجوع
         المستضيف بشكل كامل، وذلك من خلال منحهم لوحة تحكم خاصة لمتابعة مبيعاتهم وتسويق منتجاتهم.


         <br><br><br>

                رؤيتنا
        تنطلق رؤيتنا من ضرورة التماهي مع متغيرات العصر، وتقديم ما يمكنه خدمة صناعة النشر بالوسائل  الكنولوجية الحديثة، ونأمل أن نحقق الطموحات.

      </p>
    </div>
  </div>
</div>
