/* .about {
  height: 100vh;
  background-image: url(../../../assets/image/About-Us-4-1600x800.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(20%);
} */
.transition-item img {
  filter: brightness(20%);
  width: 100%;
}

.category-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .about h1 {
  text-align: center;
  padding-top: 20%;
} */

.description {
  margin-top: 5%;
  /* height: 100vh; */
  width: 100%;
  /* background-color: gray; */
  display: block;
}

.logo {
  width: 40%;

  /* height: 50%; */
  display: block;

  padding: 3% 0%;

  margin: auto;
}

.logo img {
  width: 100%;
  border-radius: 100%;
}

.paragraph {
  width: 80%;
  margin: auto;
  display: block;
  text-align: right;
  font-size: larger;
  font-weight: bold;
  padding: 3% 0%;
}

.about-content {
  width: 80%;
  background-color: #ffffff;
  border-radius: 25px;
  margin: auto;
  justify-content: center;
  margin-bottom: 5%;
}

/* .about-content img{
    border-radius: 25px;
    width: 40%;

} */

@media screen and (max-width: 768px) {
  .about {
    height: 50vh;
    background-size: cover;
  }
  .about h1 {
    padding-top: 35%;
    font-size: 40px; /* Decrease the font size for the header */
  }
  .about-content {
    width: 90%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1090px) {
  .about {
    height: 50vh;
    background-size: cover;
  }

  .about h1 {
    margin-top: 5%;
    font-size: 40px; /* Decrease the font size for the header */
  }

  .about-content {
    width: 90%;
  }
}
