<div class="d-flex justify-content-center">
  <div
    class="card my-5"
    style="min-width: 35rem; min-height: 49vh; border: none"
  >
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <h2>{{ 'sign_up.re_enter_your_data' | transloco }}</h2>
      </div>
      <form
        (ngSubmit)="handelNewPasswordForm(newPasswordForm)"
        [formGroup]="newPasswordForm"
        class="p-5"
      >
        <div *ngIf="errorMessage" class="alert alert-danger">
          <div>
            {{ errorMessage }}
          </div>
        </div>
        <div class="mb-3">
          <label for="code" class="form-label">{{
            'sign_up.email_address' | transloco
          }}</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="{{ 'sign_up.email_address' | transloco }}"
          />

          <div
            *ngIf="
              newPasswordForm['controls']['email'].invalid &&
              (newPasswordForm['controls']['email'].dirty ||
                newPasswordForm['controls']['email'].touched)
            "
            class="alert alert-danger mt-2"
          >
            <div
              *ngIf="newPasswordForm['controls']['email'].errors?.['required']"
            >
              {{ 'sign_up.email_required' | transloco }}
            </div>
            <div
              *ngIf="newPasswordForm['controls']['email'].errors?.['email']"
            >
              {{ 'sign_up.email_format' | transloco }}
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="code" class="form-label">{{
            'sign_up.password' | transloco
          }}</label>
          <input
            type="text"
            id="newPassword"
            class="form-control"
            formControlName="newPassword"
            placeholder="{{ 'sign_up.password' | transloco }}"
          />
          <div
            *ngIf="
              newPasswordForm['controls']['newPassword'].invalid &&
              (newPasswordForm['controls']['newPassword'].dirty ||
                newPasswordForm['controls']['newPassword'].touched)
            "
            class="alert alert-danger mt-2"
          >
            <div
              *ngIf="newPasswordForm['controls']['newPassword'].errors?.['required']"
            >
              {{ 'sign_up.password_required' | transloco }}
            </div>
          </div>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
          "
        >
          <button
            [disabled]="newPasswordForm.invalid"
            type="submit"
            class="btn mt-5"
            style="
              background-color: #ec553b;
              color: #ffffff;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 1rem;
            "
          >
            {{ 'home.update' | transloco }}
            <div class="spinner-border" role="status" *ngIf="loading">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
