<!-- Footer -->
<footer
  class="text-center text-lg-start "
  style="background-color: #002854; color: #ffffff"
>
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom"
    style="background-color: #002854; color: #ffffff"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>{{ 'footer.social_title' | transloco }}</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/profile.php?id=61553053561413"  class="me-4 text-reset" target="_blank">
        <i class="fab fa-facebook-f"></i>
        
      </a>

      <a href="https://twitter.com/kotpediabook" class="me-4 text-reset" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
      </a>

      <a href="https://www.instagram.com/kutopedia/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" class="me-4 text-reset" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="" style="background-color: #313131; color: #ffffff">
    <div
      class="text-center text-md-start pt-5"
      style="background-color: #002854; color: #ffffff"
    >
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h3 class="text-uppercase fw-bold mb-4 d-flex">
            كتبيديا
          </h3>

          <p class="fs-6 fst-normal" style="text-align: justify">
            "موقع متخصص في نشر الكتاب الإلكتروني بصيغه المتعددة، ويسعى لتقديم خدمات النشر الإلكتروني الحديث مع تجربة مريحة وسهلة للتصفح والشراء عبر الإنترنت واكتشاف عالم النشر الجديد في كافة المجالات."
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <h3 class="text-uppercase fw-bold mb-4 d-flex">
            {{ 'footer.contact_us' | transloco }}
          </h3>

          <p class="fs-6 fst-normal" style="text-align: justify">
            للاتصال: 00201094884982
            <br />
            مواعيد العمل: 24 ساعة يومياً
            <br />
            العنوان: 33 شارع قصر النيل - الدور السادس - رقم 8
            <br>
            إيميل: kotpediabook@gmail.com 

          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h3 class="text-uppercase fw-bold mb-4 d-flex">
            {{ 'navigation.login' | transloco }}
          </h3>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block w-100"
            style="background-color: #ed553b; border: none"
            routerLink="/login"
          >
          {{ 'navigation.login' | transloco }}
          </button>
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <!-- <div
    class="text-center pt-3 pb-1"
    style="background-color: #002854"
  >
    <p style="color: #ffffff">
      Copyright @ 2023 Restaurant | All Rights Reserver | Theme
      Designed by Mohamed Osama
    </p>
  </div> -->
  <!-- Copyright -->
</footer>
