<div class="container p-5" style="min-height: 58vh">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        {{ 'navigation.users' | transloco }}
      </h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user._id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td colspan="3">
              <button
                class="btn btn-danger"
                (click)="deleteUser(user._id)"
              >
                {{ 'home.delete' | transloco }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
