.card-body{
    justify-content: right;
    overflow: scroll;

}

.text{
    text-align: center;
    margin: 3% 0%;
    font-weight: bold;
    font-size: 60px;
}

@media screen and (max-width: 700px) {
    .card-body{
        justify-content: right;
        overflow: scroll;
    
    }
}



@media screen and (min-width: 701px) and (max-width: 1000px) {
    .card-body{
        overflow: scroll;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
    .card-body{
        overflow: scroll;
    }
}