/* .events{
    height: 100vh;
    justify-content: center;
    background-image: url(../../../assets/image/events.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover ;
}

.events h1{
        padding-top: 20%;
        padding-left: 45%;
        color: aliceblue;
        text-align: center;
        font-weight: bold;
} */

.transition-item img {
  filter: brightness(20%);
  width: 100%;
}

.category-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parent {
  background-color: gray;
  padding: 5% 0%;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 25px;
}

.container {
  display: flex;

  width: 100%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.pic {
  width: 40%;

  border-radius: 25px;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.e-book {
  width: 50%;
  text-align: end;
}

.e-book h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: large;
  font-weight: bold;
  margin-top: 5%;
}

.e-book h1 {
  margin-top: 8%;
  color: rgb(14, 14, 89);
  font-size: xx-large;
  font-weight: bold;
}

.e-book button {
  width: 35%;
  height: 13%;
  margin-top: 5%;
  background-color: tomato;
  border: none;
  color: aliceblue;
}

@media screen and (max-width: 768px) {
  /* .text-center{
    max-width: 100px;
  } */
  .events {
    height: 50vh;
    background-size: cover;
  }
  .events h1 {
    text-align: center;
    padding-top: 35%;
    font-size: 40px; /* Decrease the font size for the header */
  }

  .parent {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .container {
    width: 100%;
    flex-direction: column; /* Stack the elements on smaller screens */
    align-items: center; /* Center-align content */
  }

  .pic {
    margin-bottom: 5%;
  }

  .pic,
  .e-book {
    width: 90%; /* Full width for both columns */
  }

  .e-book h1 {
    margin-top: 5%; /* Reduce top margin for the e-book title */
  }

  .e-book button {
    width: 50%; /* Wider button */
    margin-left: 25%; /* Center-align button */
    margin-top: 8%; /* Increase top margin */
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1090px) {
  .events {
    height: 50vh;
    background-size: cover;
  }

  .events h1 {
    margin-top: 5%;
    font-size: 40px; /* Decrease the font size for the header */
  }

  .parent {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .container {
    width: 80%;
    flex-direction: column; /* Stack the elements on smaller screens */
    align-items: center; /* Center-align content */
    margin-bottom: 10%;
  }

  .pic {
    margin-bottom: 5%;
    width: 100%;
  }

  .e-book {
    width: 100%; /* Full width for both columns */
    margin-top: 0%;
  }

  .e-book h1 {
    margin-top: 0%;
  }

  .e-book button {
    width: 50%; /* Wider button */
    margin-left: 25%; /* Center-align button */
    margin-top: 8%; /* Increase top margin */
  }
}
