<div class="container p-5">
    <div
      class="card"
      style="background-color: transparent; border: none"
    >
      <div class="card-body">
        <div class="row text-center p-2 gy-5">
          <div class="col-4 ">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  عدد الكتب
                </h5>
                <p class="card-text">
                  {{ NumberOfBooks }}
                </p>
              </div>
            </div>
          </div>


          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  عدد الطلبات
                </h5>
                <p class="card-text">
                  {{ orderCount }}
                </p>
              </div>
            </div>
          </div>
          


          
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  المبيعات
                </h5>
                <p class="card-text">
                  {{
                    totalSales
                  }}
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
