

<div class="p-5 "  >
  <div
    class="container-style"
  >
    <h2 class="text-center my-4" style="font-weight: 700 ">
      {{ 'navigation.arabic_books' | transloco }}
    </h2>
    <div
      *ngIf="isLoading"
      style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      "
      class="mb-5"
    >
      <div
        class="spinner-border"
        role="status"
        style="color: #ec553b"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
      "
      class="p-5"
      *ngIf="!isLoading"
    >
      <owl-carousel-o [options]="customOptions">
        <ng-container
          *ngFor="
            let arabicCategory of arabicCategories;
            let i = index
          "
        >
          <ng-template
            carouselSlide
            [id]="arabicCategory._id"
            class="slider"
          >
            <div
              class="card p-2 mx-2 shadow"
              style="
                cursor: pointer;
                max-height: 30rem;
                max-width: 18rem;
              "
            >
              <a
                [routerLink]="['category/', arabicCategory._id]"
                [queryParams]="{ language: 'arabic' }"
              >
                <img
                  src="{{arabicCategory.image}}"
                  class="card-img-top"
                  style="filter: brightness(25%)"
                  alt="..."
                />
                <p
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-center;
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    width: 100%;
                    text-align: center;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    color: #ffffff;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 1.4rem;
                  "
                >
                  {{ arabicCategory.name }}
                </p>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>

<div class="p-5">
  <div
  class="container-style"
  >
    <h2 class="text-center my-4" style="font-weight: 700">
      الكتب الإنجليزية
    </h2>
    <div
      *ngIf="isLoading"
      style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      "
      class="mb-5"
    >
      <div
        class="spinner-border"
        role="status"
        style="color: #ec553b"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
      "
      class="p-5"
      *ngIf="!isLoading"
    >
      <owl-carousel-o [options]="customOptions">
        <ng-container
          *ngFor="
            let englishCategory of englishCategories;
            let i = index
          "
        >
          <ng-template
            carouselSlide
            [id]="englishCategory._id"
            class="slider"
          >
            <div
              class="card p-2 mx-2 shadow"
              style="
                cursor: pointer;
                max-height: 30rem;
                max-width: 18rem;
              "
            >
              <a
                [routerLink]="['category/', englishCategory._id]"
                [queryParams]="{
              language: 'english',
            }"
              >
                <img
                  src="{{englishCategory.image}}"
                  class="card-img-top"
                  style="filter: brightness(25%)"
                  alt="..."
                />
                <p
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-center;
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    width: 100%;
                    text-align: center;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    color: #ffffff;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 1.4rem;
                  "
                >
                  {{ englishCategory.name }}
                </p>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>

<div
  class="p-5"
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  "
>
  <h1>كن أول من يعلم</h1>

  <hr />
  <div class="text-center">
    <p>
      سجل بريدك الإلكتروني وتمتع بالحصول على الجديد في عالم الكتب
    </p>
    <button
      class="btn btn-lg d-btn"
      routerLink="/login"
      style="background-color: #ec553b; color: #ffffff"
    >
      {{ 'navigation.login' | transloco }}
    </button>
  </div>
</div>
