<div class="container p-5" style="min-height: 58vh">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        {{ 'navigation.orders' | transloco }}
      </h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">الإسم</th>
            <th scope="col">التاريخ</th>
            <th scope="col">البريد الإلكتروني</th>
            <th scope="col">رقم الهاتف</th>
            <th scope="col">العدد</th>
            <th scope="col">الإجمالي</th>
            <th scope="col">الدفع</th>
            <th scope="col">التفاصيل</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orderItem of orders">
            <th scope="row">{{ orderItem.user._id }}</th>
            <td>{{ orderItem.user.name }}</td>
            <td>{{ orderItem.updatedAt }}</td>
            <td>{{ orderItem.user.email }}</td>
            <td>{{ orderItem.user.phone }}</td>
            <td>{{ orderItem.cartItems.length }}</td>
            <td>{{ orderItem.totalOrderPrice }}</td>
            <td>{{ orderItem.paymentMethodType }}</td>
            <td>
              <ul>
                <li *ngFor="let cartItem of orderItem.cartItems">
                  {{ cartItem.book.bookName }}
                  <span>عدد {{ cartItem.quantity }}  </span>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
