<nav class="navbar navbar-expand-lg bg-light shadow-lg custom-navbar">
  <div class="container-fluid home">
    <a class="navbar-brand" [routerLink]="['/admin']">
      <img
        src="../../../../assets/image/logo.jpeg"
        alt="logo"
        style="width: 90px ; height: 50px ; border-radius: 15px;"
      />
      <!-- <i class="fab fa-facebook logo"></i> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
          style="color: #ffffff;"
            class="nav-link"
            aria-current="page"
            [routerLink]="['/admin']"
            routerLinkActive="active"
          >
            {{ 'navigation.home' | transloco }}
          </a>
        </li>
        <li class="dropdown nav-item" *ngIf="isLoggedIn">
          <a
          style="color: #ffffff;"
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ 'navigation.books' | transloco }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/admin/paper-books']"
                >{{ 'home.paper_books' | transloco }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['/admin/electronic-books']"
                class="dropdown-item"
                >الكتب الإلكترونية</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
          style="color: #ffffff;"
            class="nav-link"
            routerLink="add-book"
            routerLinkActive="active"
            >{{ 'navigation.add_book' | transloco }}</a
          >
        </li>
        <li class="nav-item">
          <a
          style="color: #ffffff;"
            class="nav-link"
            routerLink="messages"
            routerLinkActive="active"
            >{{ 'navigation.messages' | transloco }}</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
          style="color: #ffffff;"
            class="nav-link"
            routerLink="events"
            routerLinkActive="active"
            >{{ 'navigation.events' | transloco }}</a
          >
        </li> -->


        <li class="dropdown nav-item" *ngIf="isLoggedIn">
          <a
          style="color: #ffffff;"
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            الفعاليات
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                [routerLink]="['/admin/events']"
                class="dropdown-item"
                >إضافة فعالية</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/admin/EventInformation']"
                >التفاصيل</a
              >
            </li>
    
          </ul>
        </li>


        
        
        <li class="dropdown nav-item" *ngIf="isLoggedIn">
          <a
          style="color: #ffffff;"
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ 'navigation.users' | transloco }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/admin/admins']"
                >{{ 'navigation.admins' | transloco }}</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/admin/users']"
                >{{ 'navigation.users' | transloco }}</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/admin/publishers']"
                >{{ 'navigation.publishers' | transloco }}</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
          style="color: #ffffff;"
            class="nav-link"
            routerLink="add-publisher"
            routerLinkActive="active"
            >{{ 'navigation.add_publisher' | transloco }}</a
          >
        </li>
        <li class="nav-item">
          <a
          style="color: #ffffff;"
            class="nav-link"
            routerLink="orders"
            routerLinkActive="active"
            >{{ 'navigation.orders' | transloco }}</a
          >
        </li>
        <li class="nav-item">
          <a
          style="color: #ffffff;"
            class="nav-link"
            routerLink="add-category"
            routerLinkActive="active"
            >{{ 'home.add_category' | transloco }}</a
          >
        </li>
        <li class="nav-item">
          <a
          style="color: #ffffff;"
            class="nav-link"
            routerLink="UserInerFace"
            routerLinkActive="active"
            >واجهة المستخدم</a
          >
        </li>
      </ul>
      <div class="d-flex flex-grow-1 justify-content-end gap-2">
        <div class="dropdown" *ngIf="isLoggedIn">
          <button
            class="btn btn-secondary dropdown-toggle"
            style="background-color: #ed553b; color: #ffffff"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span
              ><i class="fa-solid fa-user" style="color: #ffffff"></i
            ></span>
            {{ 'navigation.profile' | transloco }}
          </button>
          <ul class="dropdown-menu">
          
            <li>
              <a class="dropdown-item" href="#" (click)="logout()">
                {{ 'navigation.logout' | transloco }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
