/*

.continue{
    height: 100%;
    background-color: rgb(249, 245, 245);
}

.continue h1{
    font-size:50px;
    font-weight: bold;
    color: rgb(14, 14, 89);
    padding-left: 45%;
    padding-top: 10%;
}

.payment{
    width: 85%;
    margin-top: 2%;
    margin-left: 8%;
    height: 100%;
}

.payment p{
    padding-left: 5%;
    font-weight: bold;
    color:  rgb(75, 72, 72);
}

button{
    background-color: tomato;
    width: 20%;
    margin-left: 2%;
    color: aliceblue;

}

.radio{
   margin-left: 5%;
   width: 7%;

}

.ss{
    border: 1px solid grey;
    width: 50%;
    height: 0.5%;
    background-color:grey;
    margin-left: 25%;
}

.i1{
    font-size: 40px;
    color: rgb(15, 15, 82);
}

.i2{
    font-size: 40px;
    color: rgb(15, 15, 82);
    padding-left: 1%;
}

.card{
    position: absolute;
    top: 64%;
    left: 12%;
    color:  rgb(75, 72, 72);
}

.locked1{
    position: absolute;
    top: 81.5%;
    left: 54%;
    color:  rgb(75, 72, 72);
}

.locked2{
    position: absolute;
    top: 92%;
    left: 10%;
    color:  rgb(75, 72, 72);
}

.star1{
    position: absolute;
    top: 81%;
    left: 56%;
    color:  rgb(75, 72, 72);
    font-size: smaller;
}

.star2{
    position: absolute;
    top: 81%;
    left: 57%;
    color:  rgb(75, 72, 72);
    font-size: smaller;
}

.star3{
    position: absolute;
    top: 81%;
    left: 58%;
    color:  rgb(75, 72, 72);
    font-size: smaller;
}

input[type=radio] {
    background-color: rgb(15, 15, 82);
    width: 5%;
    height: 1.5em;
}

label{
    color: rgb(75, 72, 72);
    font-size: 30px;


}

input{
    width: 50%;
    margin-left: 3%;
}

.label1,
.label2,
.label3{
    margin-left: 3%;

}

.Expiry{
    display: flex;
    width: 100%;
}

.Expiry1,.Expiry2{
    width: 49%;
    display: inline-block;
    margin-left: 1.5%;
}


 */
